# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^add/$    RestController.php?view=add [nc,qsa]
RewriteRule ^count/$    RestController.php?view=count [nc,qsa]
RewriteRule ^adduser/$    RestController.php?view=adduser [nc,qsa]
RewriteRule ^verifyadmin/$ RestController.php?view=verifyadmin [nc,qsa]
RewriteRule ^loginuser/$ RestController.php?view=loginuser [nc,qsa]
RewriteRule ^isadminloggedin/$ RestController.php?view=isadminloggedin [nc,qsa]
RewriteRule ^isuserloggedin/$ RestController.php?view=isuserloggedin [nc,qsa]
RewriteRule ^logoutadmin/$ RestController.php?view=logoutadmin [nc,qsa]
RewriteRule ^logoutuser/$ RestController.php?view=logoutuser [nc,qsa]
RewriteRule ^cancelprasadam/$ RestController.php?view=cancelprasadam [nc,qsa]
RewriteRule ^getnprasadam/$ RestController.php?view=getnprasadam [nc,qsa]
RewriteRule ^getusercancellations/$ RestController.php?view=getusercancellations [nc,qsa]
RewriteRule ^getdevotees/$ RestController.php?view=getdevotees [nc,qsa]
RewriteRule ^deleteuser/$ RestController.php?view=deleteuser [nc,qsa]