* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("example_img_girl.jpg");
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
    line-height: 1.61;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    color: #404040;
}

p,
ol,
ul {
    margin-top: 0;
}

p {
    line-height: 180%;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

.container {
    /* Set width of container to 
		1200px and align center */
    margin: 0px auto;
    width: 100%;
}

div1 {
    color: #0000ff;
    border-style: 10px;
}
h2 {
    color: #00ccff;
}
.button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#top-header {
    text-align: left;
    padding: 0.875rem;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
}

#adminlogin p {
    color: white;
}
#top-header #harekrishna {
    flex: 1;
}

#menu {
    float: right;
    width: 50%;
    height: 50%;
    flex: 1;
    margin: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu ul {
    text-align: center;
    float: right;
    margin: 0;
    background: black;
    list-style: none;
    border-radius: 0.25rem;
}

#menu li {
    display: inline-block;
    padding: none;
    margin: none;
}

#menu li a,
#menu li span {
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
}

#menu li a {
    color: #fff;
}

#menu li:hover a,
#menu li span {
    background: #fff;
    color: black;
    border-left: 1px solid black;
    text-decoration: none;
    border-radius: 0.25rem;
}

table {
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    border: 1px solid #ccc;
    height: 30px;
} /* Make cells a bit taller */

th {
    background: #f3f3f3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {
    background: #fafafa; /* Lighter grey background */
    text-align: center; /* Center our text */
}

.formcontainer {
    padding: 1.25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    max-width: 960px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.centerform {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    height: 90%;
    width: 100%;
}

.formcontainer.loginform {
    margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.prasadtimecell {
    text-transform: capitalize;
}

.checkwrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    overflow: auto;
}

.buttoncontainer {
    width: 100%;
    text-align: right;
}

/* FC Toolbar */

.fc-toolbar {
    display: flex;
}

.fc-toolbar .fc-left {
    flex: 1;
}

.fc-toolbar .fc-right {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
}

/* User Table */

.userrow .col-4{
    padding: 0.75rem;
}

.fixedcontainer{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0.75rem;
}

.formrow{
    align-items: center;
}

.formrow label{
    margin: 0;
}

.calendarcontainer{
    overflow: auto;
}

@media only screen and (max-width: 600px){
    .checkwrapper{
        flex-flow: row;
        align-items: flex-end;
        justify-content: flex-start;
        vertical-align: bottom;
        padding-top: 1.5rem;
    }
}

.tablecontainer{
    overflow: auto;
}